<mat-nav-list class="polygon-context-menu">
  <mat-list-item (click)="!isLoadingAlerts && onEdit()" [class.disabled]="isLoadingAlerts">
    <mat-icon matListItemIcon>edit_location</mat-icon>
    <span matListItemTitle>Editar geometría</span>
  </mat-list-item>
  <mat-list-item (click)="onToggleVisibility()">
    <mat-icon matListItemIcon>{{ polygonVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
    <span matListItemTitle>{{ polygonVisible ? 'Ocultar' : 'Mostrar' }}</span>
  </mat-list-item>

  @if (!hasDepartments) {
    <mat-list-item
      (click)="!isLoadingDepartments && onToggleDepartments()"
      [class.disabled]="isLoadingDepartments"
    >
      @if (isLoadingDepartments) {
        <mat-icon matListItemIcon class="spinning">autorenew</mat-icon>
      } @else {
        <mat-icon matListItemIcon>map</mat-icon>
      }
      <span matListItemTitle>{{
        isLoadingDepartments ? 'Cargando departamentos...' : 'Mostrar departamentos'
      }}</span>
    </mat-list-item>
  } @else {
    @if (departmentsVisible) {
      <mat-list-item (click)="onToggleDepartments()">
        <mat-icon matListItemIcon>visibility_off</mat-icon>
        <span matListItemTitle>Ocultar departamentos</span>
      </mat-list-item>
    } @else {
      <mat-list-item (click)="onToggleDepartments()">
        <mat-icon matListItemIcon>visibility</mat-icon>
        <span matListItemTitle>Mostrar departamentos</span>
      </mat-list-item>
    }
  }

  @if (!canUndoCut) {
    <mat-list-item
      (click)="!isLoadingCut && !isLoadingAlerts && onCut()"
      [class.disabled]="isLoadingCut || isLoadingAlerts"
    >
      @if (isLoadingCut) {
        <mat-icon matListItemIcon class="spinning">autorenew</mat-icon>
      } @else {
        <mat-icon matListItemIcon>crop</mat-icon>
      }
      <span matListItemTitle>{{ isLoadingCut ? 'Recortando...' : 'Recortar con Argentina' }}</span>
    </mat-list-item>
  } @else {
    <mat-list-item (click)="!isLoadingAlerts && onUndoCut()" [class.disabled]="isLoadingAlerts">
      <mat-icon matListItemIcon>undo</mat-icon>
      <span matListItemTitle>Deshacer recorte</span>
    </mat-list-item>
  }

  <mat-list-item
    (click)="!isLoadingAlerts && !exceedsMaxVertices && onGenerateAlert()"
    [class.disabled]="isLoadingAlerts || exceedsMaxVertices"
    [matTooltip]="'Supera el máximo de ' + maxVertices + ' vértices permitidos'"
    [matTooltipDisabled]="!exceedsMaxVertices"
  >
    @if (isLoadingAlerts) {
      <mat-icon matListItemIcon class="spinning">autorenew</mat-icon>
    } @else {
      <mat-icon matListItemIcon>warning</mat-icon>
    }
    <span matListItemTitle>{{ isLoadingAlerts ? 'Generando aviso...' : 'Generar aviso' }}</span>
  </mat-list-item>

  <mat-list-item (click)="!isLoadingAlerts && onDelete()" [class.disabled]="isLoadingAlerts">
    <mat-icon matListItemIcon color="warn">delete</mat-icon>
    <span matListItemTitle>Eliminar</span>
  </mat-list-item>
</mat-nav-list>
