:host {
  display: flex;
  flex: 1;
  min-height: 0;
  pointer-events: auto;
}

.scale-tools-container {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  align-items: stretch;
  gap: 12px;
  pointer-events: auto;
}

app-scale-tool-panel {
  display: flex;
  pointer-events: auto;
}
